<div class="">
    <div class="">Hello
        <%=full_name %>,</div>
    <div class="">
        <p>Thank you for registering with us.</p> 
        <p>Your email is :
            <%=email %>.</p>
        <p>Your temporary password is :
            <%=password %>.</p>
        <p>
            Please login and change the password for your security reason.
        </p>
    </div>

    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br> Admin</div>
</div>