<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">
        <p>We've received a request to reset your password.</p>
    </div>
    <div class="">Link : <span style="color: crimson"><%= link %></span></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%=site_title%></div>
</div>